<header class="site-header">
  <div class="container header-inner">
   
    <div class="brand">
      <a href="../">TEMP/ERROR</a>
    </div>

    <nav class="main-nav">
      <ul>
        <li><a href="/products/">SHOP</a></li>
        <li><a href="../about/">ABOUT</a></li>
        <li><a href="../contact/">CONTACT</a></li>
        <li>
          <a href="../cart/">
            CART (<span id="cart-count">0</span>)
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>